@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary-color: #fab44c;
    --secondary-color:#262626;
    --white: #f3f3f3;
    --blue : #5659a1;
    --grey : #888;
    --darkgrey : #1b1b1b;
    --green : #61c96f;
    --red : #f94141;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkgrey);
    color: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Parkinsans';
}

::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--darkgrey);
}

::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 10px;
}

.tract-crypto-heading{
    color: var(--primary-color);
    --webkit-text-stroke: 1px var(--primary-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.tract-crypto-heading:hover{
    color: var(--white);
    -webkit-text-fill-color: var(--primary-color);
    transition: all 0.3s;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag:none;
    -moz-user-drag:none;
    -o-user-drag:none;
}